
//VARIABLES
$defaultColor: #3f51b5; //color de la app
$defaultColorStart: #D8CA22;

//LOGIN
.login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #4172A9;
}

.card {
    background: #fff;
    opacity: 0.9;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.login-page .login-box .msg {
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #eee;
}

.bg-facebook {
    background-color: #3b5998 !important;
    color: #fff;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 6px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
}
.sidebar .user-info .info-container {
    cursor: default;
    display: block;
    position: relative;
    top: 15px;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar {
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: "Roboto",sans-serif;
    background: #fdfdfd;
    width: 250px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    -ms-box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    z-index: 11 !important;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 25px;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.card .body .col-xs-8, .card .body .col-sm-8, .card .body .col-md-8, .card .body .col-lg-8 {
    margin-bottom: 7px;
}


.btn:hover {
    color: white;
}

.bg-cyan2 {
    background-color: #40b7b2 !important;
    color: #fff;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.liLanguage{
    list-style:none;
    text-decoration:none; 
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    margin-left: -19px;
}

.aLanguage, a:link 
{ 
text-decoration:none; 
color: black;
} 


//course.blade.php
section.guest {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.info-box .iconCourse {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0,0,0,.12);
    width: 80px;
}

.info-box .content .textCourse {
    font-size: 17px;
    margin-top: 11px;
    color: #555;
}

section.content {
    margin-top: 100px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 270px;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.thumbnail .captionCourse {
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 9px;
    color: #333;
}

.fontCourseLabel{
font-size: 17px;
}

.label-course {
    background-color: $defaultColor;
}
.starts {
    margin-top: -15px;
}
.startColor{
    color: $defaultColorStart;
}
//course.blade.php


//home.blade.php

.displayJumbo{
      font-family: 'Anton', sans-serif;
      font-weight: 60;
      color: white;
}
.paragraphJumbo{
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif  ;
     

}

//home.blade.php

//courseDetail.blade.php
img.imgDetail{
    margin-top: 20px;
}

.list-group .active {
    background-color: #5f71d4;
    border-color: #5f71d4;
}
.list-group .active:hover, .list-group .active:focus, .list-group .active:active {
   background-color: #5f71d4;
    border-color: #5f71d4;
}

.card .body .col-xs-12, .card .body .col-sm-12, .card .body .col-md-12, .card .body .col-lg-12 {
    margin-bottom: 5px;
}

.white{
    color: white;
}

.white, a:link {
    color: white;
}

.panel-body-default{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}
.panel-body-default:hover{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
}
.list-group-item, a:link {
    color: black;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #D3F3F3;
}

.nav-tabs+.tab-content {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
//courseDetail.blade.php

